Voter/src/mypackage/Insulina.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://example/" name="InsulinaService">
<types>
<xsd:schema>
<xsd:import namespace="http://example/" schemaLocation="http://localhost:8080/services/Insulina?xsd=1"/>
</xsd:schema>
</types>
<message name="backgroundInsulinDose">
<part name="parameters" element="tns:backgroundInsulinDose"/>
</message>
<message name="backgroundInsulinDoseResponse">
<part name="parameters" element="tns:backgroundInsulinDoseResponse"/>
</message>
<message name="mealtimeInsulinDose">
<part name="parameters" element="tns:mealtimeInsulinDose"/>
</message>
<message name="mealtimeInsulinDoseResponse">
<part name="parameters" element="tns:mealtimeInsulinDoseResponse"/>
</message>
<message name="personalSensitivityToInsulin">
<part name="parameters" element="tns:personalSensitivityToInsulin"/>
</message>
<message name="personalSensitivityToInsulinResponse">
<part name="parameters" element="tns:personalSensitivityToInsulinResponse"/>
</message>
<portType name="Insulina">
<operation name="backgroundInsulinDose">
<input wsam:Action="http://example/Insulina/backgroundInsulinDoseRequest" message="tns:backgroundInsulinDose"/>
<output wsam:Action="http://example/Insulina/backgroundInsulinDoseResponse" message="tns:backgroundInsulinDoseResponse"/>
</operation>
<operation name="mealtimeInsulinDose">
<input wsam:Action="http://example/Insulina/mealtimeInsulinDoseRequest" message="tns:mealtimeInsulinDose"/>
<output wsam:Action="http://example/Insulina/mealtimeInsulinDoseResponse" message="tns:mealtimeInsulinDoseResponse"/>
</operation>
<operation name="personalSensitivityToInsulin">
<input wsam:Action="http://example/Insulina/personalSensitivityToInsulinRequest" message="tns:personalSensitivityToInsulin"/>
<output wsam:Action="http://example/Insulina/personalSensitivityToInsulinResponse" message="tns:personalSensitivityToInsulinResponse"/>
</operation>
</portType>
<binding name="InsulinaPortBinding" type="tns:Insulina">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="backgroundInsulinDose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mealtimeInsulinDose">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="personalSensitivityToInsulin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="InsulinaService">
<port name="InsulinaPort" binding="tns:InsulinaPortBinding">
<soap:address location="http://localhost:8080/services/Insulina"/>
</port>
</service>
</definitions>